/** extra css to style the page, but not part of the CSS we are illustrating */
:root {
  --imageWidth:   15em;
  --imageHeight:  25em;
  --pageWidth:   800px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  align-items: center;
  background: rgb(239, 244, 255);
  display: flex;
  font-family: helvetica;
  justify-content: center;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  padding: 2rem;
}

.middle {
  background: white;
  border-radius: 1rem;
  border: solid 1px rgb(220, 220, 220);
  box-shadow: 3px 3px 3px rgb(150, 150, 150);
  height: 100%;
  max-width: var(--pageWidth);
  overflow: auto;
  padding: 1rem;
  width: var(--pageWidth);
}

.instructions {
  background: rgb(255, 245, 235);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: solid 1px rgb(100, 100, 100);
  text-align: center;
}
